.input {
  width: 100%;
  padding: 16px 24px;
  font-size: 16px;
  box-sizing: border-box;
  border: none;
}
.wrapper {
  width: 100%;
}
.divider {
  margin: 0px 24px;
  height: 1px;
  background-color: rgba(0,0,0,0.08);
}
