.gif-section {
  position: absolute;
  width: 100%;
  bottom: 200px;
  display: flex;
  z-index: 15;
  justify-content: center;
}

.main-body {
  .message {
    margin-top: 50px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
  }
  .actions {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 10;
    padding: 64px 24px;
  }
}
.rolling-body {
  .top-section {
    margin-top: 20px;
    width: 100%;
    z-index: 10;
    .message {
      text-align: center;
      color: #ffffff;
      font-size: 24px;
      font-weight: 600;
      &.large {
        font-size: 36px;
      }
    }
  }
  .dialog-section {
    margin-top: 20px;
  }
  .bottom-section {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 10;
    padding: 64px 24px;
  }
}

.counter {
  font-size: 92px;
  font-weight: 600;
  color: #3b3f45;
  text-align: center;
}

.dialog-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .message-background {
    background-color: #ffffff;
    max-width: 240px;
    border-radius: 8px;
    padding: 8px 24px;
    .message {
      color: #3b3f45;
    }
  }
  .tail {
    transform: translateX(-60px);
  }
}